<section class="container">
    <h1>Dashboard</h1>

    <div class="container-movimentacoes">
        
        <div class="total-estoque">
            <h3>Estoque total</h3>
            <p>{{ estoque }}</p>
        </div>

        <div class="total-saida">
            <h3>Quantidades de retiradas</h3>
            <p>{{ saidas }}</p>
        </div>

        <div class="total-entrada">
            <h3>Quantidade de entradas</h3>
            <p>{{ entradas }}</p>
        </div>
    </div>
</section>