<section class="container-forms">
    <div class="container-retirada">
        <h2>Retirada de estoque</h2>
        <form method="post" [formGroup]="retirada" (ngSubmit)="onSubmit(retirada)">
            <div [formGroup]="idRetirada" (ngSubmit)="retirada">
              <input formControlName="id" type="text" placeholder="Código">
            </div>
            <input formControlName="estoque" type="number" placeholder="Quantidade">
            <input formControlName="destino" type="text" placeholder="Destino">
            <input formControlName="motivo" type="text" placeholder="Motivo">
            <input formControlName="responsavel" type="text" placeholder="Responsavel">
            <input formControlName="data" type="text" placeholder="Data">
            <input formControlName="hora" type="text" placeholder="Hora">
            <button class="btn-con" type="submit">Confirmar</button>
        </form>
    </div>

    <div  class="container-reposicao">
        <h2>Reposição de estoque</h2>
        <form method="post" [formGroup]="reposicao" (ngSubmit)="onSubmitRepor(reposicao)">
          <div [formGroup]="idReposicao" (ngSubmit)="reposicao">
            <input formControlName="id" type="text" placeholder="Código">
          </div>
          <input formControlName="estoque" type="number" placeholder="Quantidade">
          <input formControlName="destino" type="text" placeholder="Destino">
          <input formControlName="motivo" type="text" placeholder="Motivo">
          <input formControlName="responsavel" type="text" placeholder="Responsavel">
          <input formControlName="data" type="text" placeholder="Data">
          <input formControlName="hora" type="text" placeholder="Hora">
            <button class="btn-con" type="submit">Confirmar</button>
        </form>
    </div>
</section>

<section class="container-table">
    <h2>Movimentação</h2>

    <div>
        <table class="tabela">
          <thead>
            <tr>
              <th>Código</th>
              <th>Quantidade retirada</th>
              <th>Destino</th>
              <th>Motivo</th>
              <th>Responsavel</th>
              <th>Data</th>
              <th>Hora</th>
            </tr>
          </thead>
          <tbody *ngFor="let movimentacao of movimentacao">
            <tr>
              <td>{{ movimentacao.id_produto }}</td>
              <td>{{ movimentacao.estoque }}</td>
              <td>{{ movimentacao.destino }}</td>
              <td>{{ movimentacao.motivo }}</td>
              <td>{{ movimentacao.responsavel }}</td>
              <td>{{ movimentacao.data }}</td>
              <td>{{ movimentacao.hora }}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
</section>