<section class="container-forms">
    <div class="container-retirada">
        <h2>Retirada de estoque</h2>
        <form method="post" [formGroup]="retirada" (ngSubmit)="onSubmit(retirada)">
            <div [formGroup]="idRetirada" (ngSubmit)="retirada">
              <input formControlName="id" type="text" placeholder="Código" required ngModel>
            </div>
            <input formControlName="estoque" type="number" placeholder="Quantidade" required>
            <input formControlName="destino" type="text" placeholder="Destino" required>
            <input formControlName="motivo" type="text" placeholder="Motivo" required>
            <input formControlName="responsavel" type="text" placeholder="Responsavel" required>
            <input formControlName="data" type="text" placeholder="Data" required>
            <input formControlName="hora" type="text" placeholder="Hora" required> 
            <select formControlName="tipo_de_movimentacao" type="select" placeholder="Tipo" required>
              <option value="retirada">Retirada</option>
            </select>
            <button class="btn-con" type="submit">Confirmar</button>
        </form>
    </div>

    <div  class="container-reposicao">
        <h2>Reposição de estoque</h2>
        <form method="post" [formGroup]="reposicao" (ngSubmit)="onSubmitRepor(reposicao)">
          <div [formGroup]="idReposicao" (ngSubmit)="reposicao">
            <input formControlName="id" type="text" placeholder="Código" required>
          </div>
          <input formControlName="estoque" type="number" placeholder="Quantidade" required>
          <input formControlName="destino" type="text" placeholder="Destino" required> 
          <input formControlName="motivo" type="text" placeholder="Motivo" required>
          <input formControlName="responsavel" type="text" placeholder="Responsavel" required>
          <input formControlName="data" type="text" placeholder="Data" required>
          <input formControlName="hora" type="text" placeholder="Hora" required>
          <select formControlName="tipo_de_movimentacao" type="select" placeholder="Tipo" required>
            <option value="reposição">Reposição</option>
          </select>
            <button class="btn-con" type="submit">Confirmar</button>
        </form>
    </div>
</section>

<section class="container-table">
    <h2>Movimentação</h2>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
    
        <!-- Position Column -->
        <ng-container matColumnDef="id_produto">
          <th mat-header-cell *matHeaderCellDef> Código </th>
          <td mat-cell *matCellDef="let element"> {{element.id_produto}} </td>
        </ng-container>

        <ng-container matColumnDef="estoque">
          <th mat-header-cell *matHeaderCellDef> Estoque </th>
          <td mat-cell *matCellDef="let element"> {{element.estoque}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="destino">
          <th mat-header-cell *matHeaderCellDef> Destino </th>
          <td mat-cell *matCellDef="let element"> {{element.destino}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="motivo">
          <th mat-header-cell *matHeaderCellDef> Motivo </th>
          <td mat-cell *matCellDef="let element"> {{element.motivo}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="responsavel">
          <th mat-header-cell *matHeaderCellDef> Responsavel </th>
          <td mat-cell *matCellDef="let element"> {{element.responsavel}} </td>
        </ng-container>

        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let element"> {{element.data}} </td>
        </ng-container>

        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef> Hora </th>
          <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
        </ng-container>

        <ng-container matColumnDef="tipo_de_movimentacao">
          <th mat-header-cell *matHeaderCellDef> Tipo </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo_de_movimentacao}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
</section>